<?xml version="1.0"?>

<launch>
  <arg name="limited" default="true"/>
  <arg name="prefix_ur5" default="ur5_"/>
  <arg name="prefix_ur10" default="ur10_"/>
  <arg name="config" default="true"/>
  <arg name="sim" default="true"/>
  <arg name="debug" default="false" />

  <!-- dual_arm_robot model -->
  <include file="$(find dual_arm_robot_description)/launch/dual_arm_robot_upload.launch">
    <arg name="limited_ur5" value="$(arg limited)"/>
    <arg name="prefix_ur5" value="$(arg prefix_ur5)"/>
    <arg name="limited_ur10" value="$(arg limited)"/>
    <arg name="prefix_ur10" value="$(arg prefix_ur10)"/>
  </include>

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="true"/>
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find dual_arm_robot_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find dual_arm_robot_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


</launch>
