<?xml version="1.0"?>

<launch>
<!--
  ausführen von (bei default):
  roslaunch ur_bringup ur5_bringup.launch limited:=true robot_ip:=IP_OF_THE_ROBOT [reverse_port:=REVERSE_PORT]  
  roslaunch ur5_moveit_config ur5_moveit_planning_execution.launch limited:=true
-->  
  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" default="10.64.9.82"/> <!-- IP des UR5 am IML eingetragen -->
  <arg name="reverse_port" default="50001"/>
  <arg name="limited" default="true"/>
  <arg name="config" default="true"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="5.0"/>
  
  <!-- ur5 bringup -->
  <include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="limited" value="$(arg limited)"/>
    <!--<arg name="reverse_port" value="$(arg reverse_port)"/> -->
    <arg name="min_payload"  value="$(arg min_payload)"/>
    <arg name="max_payload"  value="$(arg max_payload)"/>
  </include>
	
  <!-- ur planning execution -->

  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- ur5 moveit -->
  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="$(arg config)"/>
  </include>



</launch>
