<?xml version="1.0"?>

<launch>

  <arg name="ip_ur5" default="10.64.9.82"/>
  <arg name="ip_ur10" default="10.64.9.83"/>
  <arg name="limited_ur5" default="false"/>
  <arg name="limited_ur10" default="false"/>
  <arg name="min_payload_ur5"  default="0.0"/>
  <arg name="max_payload_ur5"  default="5.0"/>
  <arg name="min_payload_ur10"  default="0.0"/>
  <arg name="max_payload_ur10"  default="10.0"/>
  <arg name="prefix_ur5" default="ur5_" />
  <arg name="prefix_ur10" default="ur10_" />
  <arg name="controller_name_ur5" default="ur5"/>
  <arg name="controller_name_ur10" default="ur10"/>
  <arg name="max_velocity_ur5" default="10.0"/> <!-- [rad/s] -->
  <arg name="max_velocity_ur10" default="10.0"/> <!-- [rad/s] -->

  <!-- dual_arm_robot model -->
  <include file="$(find dual_arm_robot_description)/launch/dual_arm_robot_upload.launch">
    <arg name="limited_ur5" value="$(arg limited_ur5)"/>
    <arg name="prefix_ur5" value="$(arg prefix_ur5)"/>
    <arg name="limited_ur10" value="$(arg limited_ur10)"/>
    <arg name="prefix_ur10" value="$(arg prefix_ur10)"/>
  </include>

  <!-- ::: ur5 driver ::: -->
  <group ns="$(arg controller_name_ur5)">
    <remap from="joint_states" to="/joint_states"/>
    <!-- ur5 hardware interface -->
    <node name="ur_hardware_interface" pkg="ur_modern_driver" type="ur_driver" output="screen" launch-prefix="">
      <param name="robot_ip_address" type="str" value="$(arg ip_ur5)"/>
      <param name="min_payload" type="double" value="$(arg min_payload_ur5)"/>
      <param name="max_payload" type="double" value="$(arg max_payload_ur5)"/>
      <param name="max_velocity" type="double" value="$(arg max_velocity_ur5)"/>
      <param name="use_ros_control" type="bool" value="True"/>
      <param name="prefix" value="$(arg prefix_ur5)" />
    </node>
    
    <!-- ur5 controller settings -->
    <rosparam file="$(find dual_arm_robot_driver)/config/ur5_controllers.yaml" command="load"/>

    <!-- ur5 spawn controller manager -->
    <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="ur5_joint_state_controller ur5_force_torque_sensor_controller ur5_vel_based_pos_traj_controller --shutdown-timeout 1" />

    <!-- ur5 load other controllers (admittance controller) -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load ur5_vel_based_admittance_traj_controller" />

    <!-- ur5 Convert joint states to /tf tranforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  </group>


  <!-- ::: ur10 driver ::: -->
  <group ns="$(arg controller_name_ur10)">
    <remap from="joint_states" to="/joint_states"/>
    <!-- ur10 hardware interface -->
    <node name="ur_hardware_interface" pkg="ur_modern_driver" type="ur_driver" output="screen" launch-prefix="">
      <param name="reverse_port" type="int" value="5002"/>
      <param name="robot_ip_address" type="str" value="$(arg ip_ur10)"/>
      <param name="min_payload" type="double" value="$(arg min_payload_ur10)"/>
      <param name="max_payload" type="double" value="$(arg max_payload_ur10)"/>
      <param name="max_velocity" type="double" value="$(arg max_velocity_ur10)"/>
      <param name="use_ros_control" type="bool" value="True"/>
      <param name="prefix" value="$(arg prefix_ur10)" />
    </node>
    
    <!-- ur10 controller settings -->
    <rosparam file="$(find dual_arm_robot_driver)/config/ur10_controllers.yaml" command="load"/>

    <!-- ur10 spawn controller manager -->
    <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="ur10_joint_state_controller ur10_force_torque_sensor_controller ur10_vel_based_pos_traj_controller --shutdown-timeout 1" />

    <!-- ur10 load other controllers (admittance controller) -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load ur10_vel_based_admittance_traj_controller" />

    <!-- ur10 Convert joint states to /tf tranforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  </group>

</launch>
